.header-main{
    display: flex;
    align-items: center;
    padding: 0 ;
    height: 64px;
    line-height: 64px;
}
.header-main .logo-box{
    position: relative;
    padding: 0 12px;
    background: #001529;
    border-right: 1px solid #ffffff3b;
}
.header-main .logo-box .sidebar-btn{
    font-size: 16px;
    margin-left: 15px;
    color: #fff;
}
.header-main .logo-box  .sidebar-btn span{
    font-size: 20px;
}
.header-logo{
    position: relative;
    text-decoration: none;
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
    color: #0a58ca;
}